<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">


  <!-- ************************************************************************************************** -->
  <reference id="tracker" interface="io.subutai.core.tracker.api.Tracker" />
  <reference id="environmentManager" interface="io.subutai.core.environment.api.EnvironmentManager" />
  <reference id="peerManager" availability="mandatory" interface="io.subutai.core.peer.api.PeerManager" />
  <reference id="monitor" availability="mandatory" interface="io.subutai.core.metric.api.Monitor" />
  <reference id="pluginDAO" interface="io.subutai.plugin.common.api.PluginDAO" />
  <!-- ************************************************************************************************** -->

  <bean id="cassandra-impl" scope="singleton" class="io.subutai.plugin.cassandra.impl.CassandraImpl"
        init-method="init" destroy-method="destroy">
    <argument ref="monitor" />
    <argument ref="pluginDAO" />
    <property name="tracker" ref="tracker" />
    <property name="environmentManager" ref="environmentManager" />
    <property name="peerManager" ref="peerManager" />
  </bean>

  <bean id="alertListener" scope="singleton"
        class="io.subutai.plugin.cassandra.impl.alert.CassandraAlertListener">
    <argument ref="cassandra-impl" />
  </bean>

  <!-- ************************************************************************************************** -->
  <service ref="cassandra-impl" interface="io.subutai.core.environment.api.EnvironmentEventListener" />
  <service ref="cassandra-impl" interface="io.subutai.plugin.cassandra.api.Cassandra" />
  <service ref="alertListener" interface="io.subutai.common.peer.AlertListener" />
  <!-- ************************************************************************************************** -->

  <service ref="module" interface="io.subutai.webui.api.WebuiModule" />


  <bean id="module" scope="singleton" class="io.subutai.plugin.cassandra.impl.CassandraWebModule">
  </bean>

</blueprint>
