*.class
git.properties
target

# IDE and Maven files and directories #
*.iml
*.ipr
*.MF
.idea
.project
.classpath
.settings
.metadata
target

# Package Files #
*.jar
*.war
*.ear
/server/server-karaf/nb-configuration.xml
/server/core/broker/broker-impl/activemq-data
server/core/broker/broker-impl/activemq-data
*-subutai-plugin-debian-build/
*.log
*substvars
files
debian/appscale-subutai-plugin
target
*.swp
*.iml
*.log
.idea
*.idea
*.classes
*.o
*.mk
*.a
*.deb
*~
.DS_Store

