<div class="b-popup">
	<div class="b-popup__header">
		Edit operation
		<a href ng-click="closeThisDialog()"><img src="assets/elements/buttons/b-icon-close.svg" class="b-icon g-right"/></a>
	</div>
	<div class="b-popup__body">
		<div class="b-form">
			<div class="b-form__wrapper b-form__wrapper_margin-bottom">
				<div class="b-form__wrapper b-form__wrapper_margin-bottom">
					<label class="b-form-label b-form-label_fix-size-1 g-left">Operation name</label>

					<div class="b-form-wrapper b-form-wrapper_margin-size-1">
						<input class="b-form-input b-form-input_full" type="text" ng-model="genericCtrl.currentOperation.operationName" required>
					</div>
					<div class="clear"></div>
				</div>
				<div class="b-form__wrapper b-form__wrapper_margin-bottom">
					<label class="b-form-label b-form-label_fix-size-1 g-left">CWD</label>

					<div class="b-form-wrapper b-form-wrapper_margin-size-1">
						<input class="b-form-input b-form-input_full" type="text" ng-model="genericCtrl.currentOperation.cwd" required>
					</div>
					<div class="clear"></div>
				</div>
				<div class="b-form__wrapper b-form__wrapper_margin-bottom">
					<label class="b-form-label b-form-label_fix-size-1 g-left">Timeout</label>

					<div class="b-form-wrapper b-form-wrapper_margin-size-1">
						<input class="b-form-input b-form-input_full" type="text" ng-model="genericCtrl.currentOperation.timeout" required>
					</div>
					<input type="checkbox" ng-model = "vm.currentOperation.daemon"> <label class="b-form-label b-form-label_margin_r">Daemon</label>
				</div>
				<div class="clear"></div>
			</div>

			<div class="b-form__wrapper b-form__wrapper_margin-bottom">
				<label class="b-form-label b-form-label_fix-size-1 g-left">Command</label>

				<div class="b-form-wrapper b-form-wrapper_margin-size-1 b-workspace-content__row_margin-b">
				<textarea class="b-form-input b-form-input_full b-form-input_textarea" ng-model = "genericCtrl.currentOperation.commandName" placeholder="Click to start scripting" id = "newOperation">
				</textarea>
				</div>
				<div class="clear"></div>

				<div class="b-file-uploader">
					<div class="fileUpload b-btn b-btn_light-grey">
						<span>Upload script</span>
						<input id="uploadBtn" type="file" class="upload"/>
					</div>
				</div>
			</div>
			<a href class="b-btn b-btn_blue g-left  b-btn_margin-l" ng-click="genericCtrl.updateOperation()" style="margin-bottom: 10px; margin-top: 10px">Update</a>
		</div>
	</div>
</div>