<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
    >

  <reference id="accumuloManager" availability="mandatory"
             interface="io.subutai.plugin.accumulo.api.Accumulo" />
  <reference id="tracker" availability="mandatory"
             interface="io.subutai.core.tracker.api.Tracker" />
  <reference id="environmentManager"
             interface="io.subutai.core.environment.api.EnvironmentManager" />
  <reference id="hostRegistry"
             interface="io.subutai.core.hostregistry.api.HostRegistry" />

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">

    <command name="accumulo/describe-cluster">
      <action class="io.subutai.plugin.accumulo.cli.DescribeClusterCommand">
        <property name="accumuloManager" ref="accumuloManager" />
      </action>
    </command>

    <command name="accumulo/list-clusters">
      <action class="io.subutai.plugin.accumulo.cli.ListClustersCommand">
        <property name="accumuloManager" ref="accumuloManager" />
      </action>
    </command>

    <command name="accumulo/uninstall-cluster">
      <action class="io.subutai.plugin.accumulo.cli.UninstallClusterCommand">
        <property name="accumuloManager" ref="accumuloManager" />
        <property name="tracker" ref="tracker" />
      </action>
    </command>

    <command name="accumulo/install-cluster">
      <action class="io.subutai.plugin.accumulo.cli.InstallClusterCommand">
        <property name="accumuloManager" ref="accumuloManager" />
        <property name="tracker" ref="tracker" />
      </action>
    </command>

    <command name="accumulo/start-cluster">
      <action class="io.subutai.plugin.accumulo.cli.StartClusterCommand">
        <property name="accumuloManager" ref="accumuloManager" />
        <property name="tracker" ref="tracker" />
      </action>
    </command>

    <command name="accumulo/stop-cluster">
      <action class="io.subutai.plugin.accumulo.cli.StopClusterCommand">
        <property name="accumuloManager" ref="accumuloManager" />
        <property name="tracker" ref="tracker" />
      </action>
    </command>

    <command name="accumulo/check-cluster">
      <action class="io.subutai.plugin.accumulo.cli.CheckClusterCommand">
        <property name="accumuloManager" ref="accumuloManager" />
        <property name="tracker" ref="tracker" />
        <property name="environmentManager" ref="environmentManager" />
      </action>
    </command>

  </command-bundle>

</blueprint>
