<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <bean id="userGridImpl" scope="singleton" class="io.subutai.plugin.usergrid.impl.UsergridIMPL"
        init-method="init" destroy-method="destroy">
    <argument ref="pluginDAO" />
    <property name="tracker" ref="tracker" />
    <property name="networkManager" ref="networkManager" />
    <property name="environmentManager" ref="environmentManager" />
    <property name="peerManager" ref="peerManager" />
  </bean>

  <reference id="tracker" availability="mandatory"
             interface="io.subutai.core.tracker.api.Tracker" />
  <reference id="networkManager" availability="mandatory"
             interface="io.subutai.core.network.api.NetworkManager" />
  <reference id="environmentManager" availability="mandatory"
             interface="io.subutai.core.environment.api.EnvironmentManager" />
  <reference id="peerManager" availability="mandatory"
             interface="io.subutai.core.peer.api.PeerManager" />
  <reference id="pluginDAO" interface="io.subutai.core.plugincommon.api.PluginDAO" />

  <!-- service -->
  <service ref="userGridImpl" interface="io.subutai.plugin.usergrid.api.UsergridInterface" />
  <service ref="userGridImpl" interface="io.subutai.core.environment.api.EnvironmentEventListener" />
  <service ref="module" interface="io.subutai.webui.api.WebuiModule" />

  <bean id="module" init-method="init" scope="singleton" class="io.subutai.plugin.usergrid.impl.UsergridWebModule">
  </bean>
</blueprint>