<div ng-controller="GaleraCtrl as galeraCtrl">

	<div class="b-workspace__header">
		<h1 class="b-title">Plugins/<span class="b-title_breadcrumbs">Galera</span></h1>
	</div>

	<div class="b-workspace__content">
		<div class="b-tabs-menu">
			<ul>
				<li class="b-tabs-menu__item" 
				ng-click="galeraCtrl.activeTab = 'install'"
				ng-class="galeraCtrl.activeTab == 'install' ? 'b-tabs-menu__item_active' : ''">
					Install
				</li>
				<li class="b-tabs-menu__item" 
				ng-click="galeraCtrl.activeTab = 'manage'"
				ng-class="galeraCtrl.activeTab == 'manage' ? 'b-tabs-menu__item_active' : ''">
					Manage
				</li>
			</ul>
		</div>
		<div 
			ng-if="galeraCtrl.activeTab == 'install'"
			ng-include="'plugins/galera/partials/install.html'">
		</div>

		<div 
			ng-if="galeraCtrl.activeTab == 'manage'"
			ng-include="'plugins/galera/partials/manage.html'">
		</div>

	</div>

</div>
