<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
    >

  <reference id="elasticsearchManager" availability="mandatory"
             interface="io.subutai.plugin.elasticsearch.api.Elasticsearch" />
  <reference id="tracker" availability="mandatory"
             interface="io.subutai.core.tracker.api.Tracker" />
  <reference id="environmentManager"
             interface="io.subutai.core.environment.api.EnvironmentManager" />

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">

    <command name="elasticsearch/list-clusters">
      <action class="io.subutai.plugin.elasticsearch.cli.ListClustersCommand">
        <property name="elasticsearchManager" ref="elasticsearchManager" />
        <property name="tracker" ref="tracker" />
      </action>
    </command>

    <command name="elasticsearch/uninstall-cluster">
      <action class="io.subutai.plugin.elasticsearch.cli.UninstallClusterCommand">
        <property name="elasticsearchManager" ref="elasticsearchManager" />
        <property name="tracker" ref="tracker" />
      </action>
    </command>

    <command name="elasticsearch/install-cluster">
      <action class="io.subutai.plugin.elasticsearch.cli.InstallClusterCommand">
        <property name="elasticsearchManager" ref="elasticsearchManager" />
        <property name="environmentManager" ref="environmentManager" />
        <property name="tracker" ref="tracker" />
      </action>
    </command>

    <command name="elasticsearch/start-cluster">
      <action class="io.subutai.plugin.elasticsearch.cli.StartAllNodesCommand">
        <property name="elasticsearchManager" ref="elasticsearchManager" />
        <property name="tracker" ref="tracker" />
      </action>
    </command>

    <command name="elasticsearch/stop-cluster">
      <action class="io.subutai.plugin.elasticsearch.cli.StopAllNodesCommand">
        <property name="elasticsearchManager" ref="elasticsearchManager" />
        <property name="tracker" ref="tracker" />
      </action>
    </command>

    <command name="elasticsearch/check-cluster">
      <action class="io.subutai.plugin.elasticsearch.cli.CheckAllNodesCommand">
        <property name="elasticsearchManager" ref="elasticsearchManager" />
        <property name="tracker" ref="tracker" />
      </action>
    </command>

    <command name="elasticsearch/describe-cluster">
      <action class="io.subutai.plugin.elasticsearch.cli.DescribeClusterCommand">
        <property name="elasticsearchManager" ref="elasticsearchManager" />
        <property name="environmentManager" ref="environmentManager" />
      </action>
    </command>

    <command name="elasticsearch/start-node">
      <action class="io.subutai.plugin.elasticsearch.cli.StartServiceCommand">
        <property name="elasticsearchManager" ref="elasticsearchManager" />
        <property name="tracker" ref="tracker" />
      </action>
    </command>

    <command name="elasticsearch/stop-node">
      <action class="io.subutai.plugin.elasticsearch.cli.StopServiceCommand">
        <property name="elasticsearchManager" ref="elasticsearchManager" />
        <property name="tracker" ref="tracker" />
      </action>
    </command>

    <command name="elasticsearch/check-node">
      <action class="io.subutai.plugin.elasticsearch.cli.StatusServiceCommand">
        <property name="elasticsearchManager" ref="elasticsearchManager" />
        <property name="tracker" ref="tracker" />
      </action>
    </command>

  </command-bundle>

</blueprint>
