<div ng-controller="BackupCtrl as backupCtrl">

	<div class="b-workspace__header">
		<h1 class="b-title">Plugins/<span class="b-title_breadcrumbs">Backup</span></h1>
	</div>

	<div class="b-workspace__content">
		<div class="b-workspace-content__row">
			<div class="b-workspace-content-row_col-2 b-workspace-content-row_col-2_padding-right">
				<div class="b-form">
					<div class="b-form__wrapper b-form__wrapper_margin-bottom">
						<label class="b-form-label b-form-label_fix-size-1 g-left">Environment</label>

						<div class="b-form-wrapper b-form-wrapper_margin-size-1">
							<select class="b-form-input b-form-input_full" ng-model = "backupCtrl.currentEnvironment" ng-options = "environment.name for environment in backupCtrl.environments">
							</select>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="b-workspace-content__row">
			<h2 class="b-workspace-content-row-h2">
				Containers
			</h2>

			<div class="b-main-table-border">
				<table class="b-main-table b-main-table_with-header">
					<tr>
						<th>Container name</th>
						<th>Actions</th>
					</tr>
					<tr>
						<td colspan="2" class="b-main-table__empty-item" ng-show="backupCtrl.currentEnvironment.containers === undefined || backupCtrl.currentEnvironment.containers.length === 0">
							No data available in table
						</td>
					<tr>
					<tr ng-repeat = "container in backupCtrl.currentEnvironment.containers">
						<td>{{ container.hostname }}</td>
						<td><a href class="b-btn b-btn_blue b-btn_margin-r g-left" ng-click = "backupCtrl.backup (container)">Backup</a></td>
					</tr>
				</table>
			</div>
		</div>

	</div>
</div>