<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="hipiManager" availability="mandatory"
             interface="io.subutai.plugin.hipi.api.Hipi" />
  <reference id="hadoopManager" availability="mandatory"
             interface="io.subutai.plugin.hadoop.api.Hadoop" />
  <reference id="tracker" availability="mandatory"
             interface="io.subutai.core.tracker.api.Tracker" />

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="hipi/list-clusters">
      <action class="io.subutai.plugin.hipi.cli.ListClustersCommand">
        <property name="hipiManager" ref="hipiManager" />
      </action>
    </command>

    <command name="hipi/uninstall-cluster">
      <action class="io.subutai.plugin.hipi.cli.UninstallClusterCommand">
        <property name="hipiManager" ref="hipiManager" />
      </action>
    </command>

    <command name="hipi/install-cluster">
      <action class="io.subutai.plugin.hipi.cli.InstallClusterCommand">
        <property name="hipiManager" ref="hipiManager" />
        <property name="hadoopManager" ref="hadoopManager" />
        <property name="tracker" ref="tracker" />
      </action>
    </command>

  </command-bundle>

</blueprint>
