<?xml version="1.0" encoding="UTF-8"?>
<blueprint default-activation="eager"
           xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

           xsi:schemaLocation="http://www.osgi.org/xmlns/blueprint/v1..0 http://www.osgi.org/xmlns/blueprint/v1.0.0
            http://www.w3.org/2001/XMLSchema-instance http://www.w3.org/2001/XMLSchema-instance
            0">

  <!-- *********************************************************************************** -->
  <reference id="tracker" availability="mandatory"
             interface="io.subutai.core.tracker.api.Tracker" />
  <reference id="hadoopManager" availability="mandatory"
             interface="io.subutai.plugin.hadoop.api.Hadoop" />
  <reference id="environmentManager" availability="mandatory"
             interface="io.subutai.core.environment.api.EnvironmentManager" />
  <reference id="pluginDAO" interface="io.subutai.plugin.common.api.PluginDAO" />
  <!-- *********************************************************************************** -->

  <bean id="sqoop-impl" scope="singleton" class="io.subutai.plugin.sqoop.impl.SqoopImpl"
        init-method="init" destroy-method="destroy">
    <argument ref="pluginDAO"/>
    <property name="tracker" ref="tracker" />
    <property name="environmentManager" ref="environmentManager" />
    <property name="hadoopManager" ref="hadoopManager" />
  </bean>

  <!-- *********************************************************************************** -->
  <service ref="sqoop-impl" interface="io.subutai.plugin.sqoop.api.Sqoop" />
  <!-- *********************************************************************************** -->

</blueprint>
