<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="hadoopManager"
             interface="io.subutai.plugin.hadoop.api.Hadoop" />
  <reference id="tracker"
             interface="io.subutai.core.tracker.api.Tracker" />
  <reference id="environmentManager"
             interface="io.subutai.core.env.api.EnvironmentManager" />
  <reference id="monitor"
             interface="io.subutai.core.metric.api.Monitor" />

  <bean id="hbase-impl" scope="singleton" class="io.subutai.plugin.hbase.impl.HBaseImpl"
        init-method="init" destroy-method="destroy">
    <argument ref="hadoopManager" />
    <argument ref="tracker" />
    <argument ref="environmentManager" />
    <argument ref="monitor" />
  </bean>

  <bean id="alertListener" scope="singleton" class="io.subutai.plugin.hbase.impl.alert.HBaseAlertListener">
    <argument ref="hbase-impl" />
  </bean>

  <service ref="hbase-impl" interface="io.subutai.plugin.hbase.api.HBase" />

  <service ref="hbase-impl" interface="io.subutai.core.env.api.EnvironmentEventListener" />

  <service ref="alertListener" interface="io.subutai.core.metric.api.AlertListener" />


</blueprint>
