<div ng-controller="ZookeeperCtrl as zookeeperCtrl">

	<div class="b-workspace__header">
		<h1 class="b-title">Plugins/<span class="b-title_breadcrumbs">Zookeeper</span></h1>
	</div>

	<div class="b-workspace__content">
		<div class="b-tabs-menu">
			<ul>
				<li class="b-tabs-menu__item" 
				ng-click="zookeeperCtrl.activeTab = 'install'" 
				ng-class="zookeeperCtrl.activeTab == 'install' ? 'b-tabs-menu__item_active' : ''">
					Install
				</li>
				<li class="b-tabs-menu__item" 
				ng-click="zookeeperCtrl.activeTab = 'manage'" 
				ng-class="zookeeperCtrl.activeTab == 'manage' ? 'b-tabs-menu__item_active' : ''">
					Manage
				</li>
				<li class="b-tabs-menu__item"
					ng-click="zookeeperCtrl.activeTab = 'about'"
					ng-class="zookeeperCtrl.activeTab == 'about' ? 'b-tabs-menu__item_active' : ''">
					About
				</li>
			</ul>
		</div>
		<div 
			ng-if="zookeeperCtrl.activeTab == 'install'" 
			ng-include="'plugins/zookeeper/partials/install.html'">
		</div>

		<div 
			ng-if="zookeeperCtrl.activeTab == 'manage'" 
			ng-include="'plugins/zookeeper/partials/manage.html'">
		</div>

		<div
				ng-if="zookeeperCtrl.activeTab == 'about'"
				ng-include="'plugins/zookeeper/partials/about.html'">
		</div>
	</div>

</div>
