Source: mysql-plugin-module
Section: devel
Priority: optional
Maintainer: Subutai
Pre-Depends: plugin-common
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://www.safehaus.org
Version: [[project.version]]
Package: plugin-subutai-module
Architecture: all
Description: This package contains kar file of Subutai MySQL plugin that runs  on subutai server application.