Package: mahout-subutai-plugin
Section: devel
Priority: optional
Architecture: all
Standards-Version: 3.9.4
Homepage: http://www.safehaus.org
Build-Depends: debhelper (>= 8.0.0)
Depends: ${shlibs:Depends}, ${misc:Depends}
Version: ${project.build.version}
Maintainer: Subutai
Description: This package contains kar file of Subutai Mahout plugin that runs  on subutai server application.