<div class="b-workspace-content b-workspace-content_border">
	<div class="b-workspace__content">
		<div class="b-workspace-content b-workspace-content_border">
			<div class="b-workspace-content__row">
				<div class="b-main-table-border" style = "width: 500px">
					<table class="b-main-table b-main-table_with-header" style = "width: 500px" align = "center">
							<tr>
								<th>Environment Name</th>
							</tr>
							<tr ng-repeat = "environment in cephCtrl.environments"> <!-- in cephCtrl.finishedEnvironments -->
								<td>{{ environment.name }}</td>
							</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>