<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
    >

  <reference id="mongoManager" availability="mandatory"
             interface="io.subutai.plugin.mongodb.api.Mongo" />
  <reference id="tracker" availability="mandatory"
             interface="io.subutai.core.tracker.api.Tracker" />
  <reference id="environmentManager"
             interface="io.subutai.core.env.api.EnvironmentManager" />

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="mongodb/list-clusters">
      <action class="io.subutai.plugin.mongodb.cli.ListClustersCommand">
        <property name="mongoManager" ref="mongoManager" />
      </action>
    </command>

    <command name="mongo/uninstall-cluster">
      <action class="io.subutai.plugin.mongodb.cli.UninstallClusterCommand">
        <property name="mongoManager" ref="mongoManager" />
      </action>
    </command>

    <command name="mongo/install-cluster">
      <action class="io.subutai.plugin.mongodb.cli.InstallClusterCommand">
        <property name="mongoManager" ref="mongoManager" />
        <property name="tracker" ref="tracker" />
      </action>
    </command>

    <command name="mongo/describe-cluster">
      <action class="io.subutai.plugin.mongodb.cli.DescribeClusterCommand">
        <property name="mongoManager" ref="mongoManager" />
      </action>
    </command>

    <command name="mongo/start-cluster">
      <action class="io.subutai.plugin.mongodb.cli.StartClusterCommand">
        <property name="mongoManager" ref="mongoManager" />
        <property name="tracker" ref="tracker" />
      </action>
    </command>

    <command name="mongo/stop-cluster">
      <action class="io.subutai.plugin.mongodb.cli.StopClusterCommand">
        <property name="mongoManager" ref="mongoManager" />
        <property name="tracker" ref="tracker" />
      </action>
    </command>

    <command name="mongo/start-node">
      <action class="io.subutai.plugin.mongodb.cli.StartNodeCommand">
        <property name="mongoManager" ref="mongoManager" />
        <property name="tracker" ref="tracker" />
      </action>
    </command>

    <command name="mongo/stop-node">
      <action class="io.subutai.plugin.mongodb.cli.StopNodeCommand">
        <property name="mongoManager" ref="mongoManager" />
        <property name="tracker" ref="tracker" />
      </action>
    </command>

    <command name="mongo/check-node">
      <action class="io.subutai.plugin.mongodb.cli.CheckNodeCommand">
        <property name="mongoManager" ref="mongoManager" />
        <property name="tracker" ref="tracker" />
      </action>
    </command>

  </command-bundle>

</blueprint>
