<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="pigManager" availability="mandatory" interface="io.subutai.plugin.pig.api.Pig" />
  <reference id="hadoopManager" availability="mandatory"
             interface="io.subutai.plugin.hadoop.api.Hadoop" />
  <reference id="tracker" availability="mandatory"
             interface="io.subutai.core.tracker.api.Tracker" />
  <reference id="environmentManager"
             interface="io.subutai.core.env.api.EnvironmentManager" />

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">

    <command name="pig/list-clusters">
      <action class="io.subutai.plugin.pig.cli.ListClustersCommand">
        <property name="pigManager" ref="pigManager" />
      </action>
    </command>

    <command name="pig/uninstall-cluster">
      <action class="io.subutai.plugin.pig.cli.UninstallClusterCommand">
        <property name="pigManager" ref="pigManager" />
        <property name="tracker" ref="tracker" />
      </action>
    </command>

    <command name="pig/install-cluster">
      <action class="io.subutai.plugin.pig.cli.InstallClusterCommand">
        <property name="pigManager" ref="pigManager" />
        <property name="tracker" ref="tracker" />
        <property name="hadoopManager" ref="hadoopManager" />
      </action>
    </command>

    <command name="pig/describe-cluster">
      <action class="io.subutai.plugin.pig.cli.DescribeClusterCommand">
        <property name="pigManager" ref="pigManager" />
        <property name="environmentManager" ref="environmentManager" />
      </action>
    </command>

    <command name="pig/add-node">
      <action class="io.subutai.plugin.pig.cli.AddNodeCommand">
        <property name="pigManager" ref="pigManager" />
        <property name="tracker" ref="tracker" />
      </action>
    </command>

    <command name="pig/uninstall-node">
      <action class="io.subutai.plugin.pig.cli.UninstallNodeCommand">
        <property name="pigManager" ref="pigManager" />
        <property name="tracker" ref="tracker" />
      </action>
    </command>


  </command-bundle>

</blueprint>
