<form name="installationForm" ng-submit="accumuloCtrl.createAccumulo()">
  <div class="b-workspace-content b-workspace-content_border">
    <div class="b-workspace-content__row">
      <div class="b-workspace-content-row_col-2 b-workspace-content-row_col-2_padding-right">
        <div class="b-form">
          <div class="b-form__wrapper b-form__wrapper_margin-bottom">
            <label class="b-form-label b-form-label_fix-size-1 g-left">Enter cluster name</label>

            <div class="b-form-wrapper b-form-wrapper_margin-size-1">
              <input class="b-form-input b-form-input_full" type="text"
                     placeholder="Enter cluster name"
                     ng-model="accumuloCtrl.accumuloInstall.clusterName"
                     required>
            </div>
            <div class="clear"></div>
          </div>
          <div class="b-form__wrapper b-form__wrapper_margin-bottom">
            <label class="b-form-label b-form-label_fix-size-1 g-left">Hadoop cluster</label>

            <div class="b-form-wrapper b-form-wrapper_margin-size-1">
              <select class="b-form-input b-form-input_full"
                      ng-model="accumuloCtrl.accumuloInstall.hadoopClusterName"
                      ng-change="accumuloCtrl.getHadoopClusterNodes(accumuloCtrl.accumuloInstall.hadoopClusterName)">
                <option value="">Select hadoop cluster</option>
                <option ng-repeat="hadoopCluster in accumuloCtrl.hadoopClusters" value="{{ hadoopCluster }}">
                  {{ hadoopCluster }}
                </option>
              </select>
            </div>
            <div class="clear"></div>
          </div>
          <div class="b-form__wrapper b-form__wrapper_margin-bottom">
            <label class="b-form-label b-form-label_fix-size-1 g-left">Master</label>

            <div class="b-form-wrapper b-form-wrapper_margin-size-1">
              <select class="b-form-input b-form-input_full"
                      ng-model="accumuloCtrl.accumuloInstall.master"
                      ng-change="accumuloCtrl.changeDirective(accumuloCtrl.accumuloInstall.master)">
                <option value="{{ accumuloCtrl.master.uuid }}">
                  {{ accumuloCtrl.master.hostname }}
                </option>
              </select>
            </div>
            <div class="clear"></div>
          </div>

          <div class="b-form__wrapper b-form__wrapper_margin-bottom">
            <label class="b-form-label b-form-label_fix-size-1 g-left">Password</label>
            <div class="b-form-wrapper b-form-wrapper_margin-size-1">
              <input type="password"
                     class="b-form-input b-form-input_full"
                     ng-model="accumuloCtrl.accumuloInstall.password"
                     name="pwd"
                     ng-minlength="6"
                     id="user-password"
                     required>
              <div role="alert">
            <span class="error" ng-show="installationForm.pwd.$error.minlength">
            Password must be at least 6 characters long!</span>
              </div>
            </div>
            <div class="clear"></div>
          </div>

          <div class="b-form__wrapper b-form__wrapper_margin-bottom">
            <label class="b-form-label b-form-label_fix-size-1 g-left">Confirm Password</label>
            <div class="b-form-wrapper b-form-wrapper_margin-size-1">
              <input type="password"
                     class="b-form-input b-form-input_full"
                     ng-model="accumuloCtrl.confirmPassword"
                     id="user-password-confirm"
                     required>
            </div>
            <div class="clear"></div>
          </div>

        </div>
      </div>
    </div>

    <div class="b-workspace-content__row">
      <h2 class="b-workspace-content-row-h2">
        Nodes to be configured
      </h2>

      <col-select-accumulo-nodes></col-select-accumulo-nodes>

      <div class="clear"></div>
    </div>

  </div>

  <div class="b-workspace__button-group b-workspace__button-group_right">
    <button type="submit" class="b-btn b-btn_green g-right">Create</button>
  </div>
</form>

