<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">


  <reference id="tracker" availability="mandatory"
             interface="org.safehaus.subutai.core.tracker.api.Tracker" />
  <reference id="hadoopManager" availability="mandatory"
             interface="org.safehaus.subutai.plugin.hadoop.api.Hadoop" />
  <reference id="environmentManager" availability="mandatory"
             interface="org.safehaus.subutai.core.environment.api.EnvironmentManager" />
  <reference id="peerManager" availability="mandatory"
             interface="org.safehaus.subutai.core.peer.api.PeerManager" />
  <reference id="monitor" availability="mandatory"
             interface="org.safehaus.subutai.core.metric.api.Monitor" />
  <reference id="quotaManager" availability="mandatory"
             interface="org.safehaus.subutai.core.lxc.quota.api.QuotaManager" />

  <bean id="impl" scope="singleton" class="org.safehaus.subutai.plugin.zookeeper.impl.ZookeeperImpl"
        init-method="init" destroy-method="destroy">
    <property name="tracker" ref="tracker" />
    <property name="environmentManager" ref="environmentManager" />
    <property name="hadoopManager" ref="hadoopManager" />
    <property name="peerManager" ref="peerManager" />
    <property name="quotaManager" ref="quotaManager" />
    <argument ref="monitor" />
  </bean>

  <service ref="impl" interface="org.safehaus.subutai.plugin.zookeeper.api.Zookeeper" />

</blueprint>
