<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="tracker" availability="mandatory"
             interface="org.safehaus.subutai.core.tracker.api.Tracker" />
  <reference id="environmentManager"
             interface="org.safehaus.subutai.core.env.api.EnvironmentManager" />
  <reference id="hadoopManager" availability="mandatory"
             interface="org.safehaus.subutai.plugin.hadoop.api.Hadoop" />
  <reference id="monitor" availability="mandatory"
             interface="org.safehaus.subutai.core.metric.api.Monitor" />

  <bean id="presto-impl" scope="singleton" class="org.safehaus.subutai.plugin.presto.impl.PrestoImpl"
        init-method="init" destroy-method="destroy">
    <argument ref="tracker" />
    <argument ref="environmentManager" />
    <argument ref="hadoopManager" />
    <argument ref="monitor" />
  </bean>

  <service ref="presto-impl" interface="org.safehaus.subutai.plugin.presto.api.Presto" />

  <service ref="presto-impl" interface="org.safehaus.subutai.core.env.api.EnvironmentEventListener" />

</blueprint>
