<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
    >

  <reference id="sharkManager" availability="mandatory"
             interface="org.safehaus.subutai.plugin.shark.api.Shark" />
  <reference id="sparkManager" availability="mandatory"
             interface="org.safehaus.subutai.plugin.spark.api.Spark" />
  <reference id="tracker" availability="mandatory"
             interface="org.safehaus.subutai.core.tracker.api.Tracker" />
  <reference id="environmentManager"
             interface="org.safehaus.subutai.core.env.api.EnvironmentManager" />

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="shark/list-clusters">
      <action class="org.safehaus.subutai.plugin.shark.cli.ListClustersCommand">
        <property name="sharkManager" ref="sharkManager" />
      </action>
    </command>

    <command name="shark/describe-cluster">
      <action class="org.safehaus.subutai.plugin.shark.cli.DescribeClusterCommand">
        <property name="sharkManager" ref="sharkManager" />
        <property name="environmentManager" ref="environmentManager" />
      </action>
    </command>

    <command name="shark/install-cluster">
      <action class="org.safehaus.subutai.plugin.shark.cli.InstallClusterCommand">
        <property name="sharkManager" ref="sharkManager" />
        <property name="sparkManager" ref="sparkManager" />
        <property name="environmentManager" ref="environmentManager" />
        <property name="tracker" ref="tracker" />
      </action>
    </command>

    <command name="shark/uninstall-cluster">
      <action class="org.safehaus.subutai.plugin.shark.cli.UninstallClusterCommand">
        <property name="sharkManager" ref="sharkManager" />
        <property name="tracker" ref="tracker" />
      </action>
    </command>
  </command-bundle>

</blueprint>
