<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<blueprint xmlns:cm="http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0"
		   xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

	<service id = "genericPlugin" ref = "genericPluginImpl" interface = "io.subutai.plugin.generic.api.GenericPlugin">
	</service>
	<bean 	id = "genericPluginImpl"
			 class = "io.subutai.plugin.generic.impl.GenericPluginImpl"
			 scope = "singleton" activation = "eager">
	</bean>
</blueprint>
