<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="mySqlManager" availability="mandatory"
             interface="io.subutai.plugin.mysql.api.MySQLC" />
  <reference id="tracker" availability="mandatory"
             interface="io.subutai.core.tracker.api.Tracker" />
  <reference id="environmentManager"
             interface="io.subutai.core.env.api.EnvironmentManager" />

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">

    <command name="mysql/start-cluster">
      <action class="io.subutai.plugin.mysql.cli.StartClusterCommand">
        <property name="mySqlManager" ref="mySqlManager"/>
      </action>
    </command>

    <command name="mysql/describe-cluster">
      <action class="io.subutai.plugin.mysql.cli.DescribeClusterCommand">
        <property name="mySqlManager" ref="mySqlManager"/>
      </action>
    </command>

    <command name="mysql/install-cluster">
      <action class="io.subutai.plugin.mysql.cli.InstallClusterCommand">
        <property name="manager" ref="mySqlManager"/>
      </action>
    </command>

    <command name="mysql/list-clusters">
      <action class="io.subutai.plugin.mysql.cli.ListClustersCommand">
        <property name="manager" ref="mySqlManager"/>
      </action>
    </command>

    <command name="mysql/start-cluster">
      <action class="io.subutai.plugin.mysql.cli.StartClusterCommand">
        <property name="manager" ref="mySqlManager"/>
      </action>
    </command>

    <command name="mysql/stop-cluster">
      <action class="io.subutai.plugin.mysql.cli.StopClusterCommand">
        <property name="manager" ref="mySqlManager"/>
      </action>
    </command>


  </command-bundle>
</blueprint>