<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="luceneManager" availability="mandatory"
             interface="io.subutai.plugin.lucene.api.Lucene" />
  <reference id="hadoopManager" availability="mandatory"
             interface="io.subutai.plugin.hadoop.api.Hadoop" />
  <reference id="tracker" availability="mandatory"
             interface="io.subutai.core.tracker.api.Tracker" />
  <reference id="environmentManager"
             interface="io.subutai.core.env.api.EnvironmentManager" />

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">

    <command name="lucene/list-clusters">
      <action class="io.subutai.plugin.lucene.cli.ListClustersCommand">
        <property name="luceneManager" ref="luceneManager" />
      </action>
    </command>

    <command name="lucene/uninstall-cluster">
      <action class="io.subutai.plugin.lucene.cli.UninstallClusterCommand">
        <property name="luceneManager" ref="luceneManager" />
        <property name="tracker" ref="tracker" />
      </action>
    </command>

    <command name="lucene/install-cluster">
      <action class="io.subutai.plugin.lucene.cli.InstallClusterCommand">
        <property name="luceneManager" ref="luceneManager" />
        <property name="tracker" ref="tracker" />
        <property name="hadoopManager" ref="hadoopManager" />
      </action>
    </command>

    <command name="lucene/describe-cluster">
      <action class="io.subutai.plugin.lucene.cli.DescribeClusterCommand">
        <property name="luceneManager" ref="luceneManager" />
        <property name="environmentManager" ref="environmentManager" />
      </action>
    </command>

    <command name="lucene/add-node">
      <action class="io.subutai.plugin.lucene.cli.AddNodeCommand">
        <property name="luceneManager" ref="luceneManager" />
        <property name="tracker" ref="tracker" />
      </action>
    </command>

    <command name="lucene/uninstall-node">
      <action class="io.subutai.plugin.lucene.cli.UninstallNodeCommand">
        <property name="luceneManager" ref="luceneManager" />
        <property name="tracker" ref="tracker" />
      </action>
    </command>

  </command-bundle>

</blueprint>
