Source: hbase-subutai-plugin
Section: devel
Priority: optional
Maintainer: Subutai
Pre-Depends: plugin-common, hadoop-subutai-plugin
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://www.safehaus.org
Package: hbase-subutai-plugin
Version: [[project.version]]
Architecture: all
Description: This package contains kar file of Subutai HBase plugin that runs  on subutai server application.
