<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <service ref="module" interface="io.subutai.webui.api.WebuiModule" />


  <bean id="module" scope="singleton" class="io.subutai.plugin.cassandra.webui.CassandraWebModule"
        init-method="init" destroy-method="destroy">
  </bean>

</blueprint>